.comment-wrapper {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% auto;
}

.comment {
    font-weight: 600;
}