/* 기본설정 */

body, ul, li {
    list-style: none;
}

/* 라이브러리 */

.con {
    margin-left:auto;
    margin-right:auto;
}

.card {
    background: rgb(255, 255, 255);
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: -1;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 18px;
}

.bd-bt {
    border-bottom: 8px solid rgb(243, 244, 245);
}

.bd-tp {
    border-top: 8px solid rgb(243, 244, 245);
}

/* 커스텀 */

/* 탑바 */

.mainTemplate {
    width: 360px;
    height: 1030px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.topbar-wrapper {
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {    
    font-size: 28px;
    font-weight: bold;
}

.share {
    margin-top: 5px;
    cursor: pointer;
}

.share #kakao-link-btn {
    outline: 0;
    border: 0;
    background-color: white;
}

.menu {
    margin-top: 5px;
    margin-right: 5px;
}

/* 데이터 3개 보여주는 부분 */

.viewData-wrapper {
    display:flex;
    justify-content: space-between;    
    margin-top: 10px;
    width: 100%;
}

.vd-border {
    width: 85px;
    height: 80px;
}

.vdkind {
    text-align: center;
    width: 100%;
    font-weight: 700;  
    font-size: 14px;  
}

.expression {
    width: 100%;
    height: 40px;
}

.state {
    width: 100%;
    height: 20px;
}

.bottomBar {
    margin-left: -12px;    
    width: 125%;
    height: 14px;
    
    position: relative;
    border-radius: 16px;
}

.bottomBar.active::after {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    width: 102%;
    height: 10px;
    background-color: inherit;
}
/*
.swiper-slide-active.slide1::after {
    background-color: red;
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: 102px;
    height: 8px;
}

.swiper-slide-active.slide2::after {
    background-color: red;
    content: '';
    position: absolute;
    top: 0;
    left: 129px;
    width: 102px;
    height: 8px;
}

.swiper-slide-active.slide3::after {
    background-color: red;
    content: '';
    position: absolute;
    top: 0;
    left: 253px;
    width: 102px;
    height: 8px;
}
*/

/* 까마귀 이미지 나오는 곳  */

.selectedKindExpreesion-wrapper {    
    margin-top: 10px;
    width: 100%;
    height: 360px;
}

.selectedKindExpreesion-wrapper .swiper-container {
    width: 100%;
    height: 360px;
}

.selectedKindExpreesion-wrapper .swiper-container .swiper-button-prev.swiper-button-disabled,
.selectedKindExpreesion-wrapper .swiper-container .swiper-button-next.swiper-button-disabled {        
    display:none;
}

.selectedKindExpreesion-wrapper .swiper-container .swiper-slide {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.selectedKindExpreesion-wrapper .swiper-container .swiper-pagination-bullet-active {
    background-color: blue;
}

.selectedKindExpreesion-wrapper .swiper-container .swiper-button-next,
.selectedKindExpreesion-wrapper .swiper-container .swiper-button-prev {
    --swiper-navigation-size: 24px;
}

/* 코멘트 나오는 곳 */

.comment-wrapper {    
    margin: 15px 0;
    height: 80px;
    background-color: #e9e9e9;
}

/* 하단 날짜 보여주는 곳 */

.viewDay-wrapper, .footer-day {
    height: 20px;
    display: flex;
    justify-content: space-between;    
    margin-top: 10px;
    width: 100%;
}

.viewDay-wrapper {
    padding-top: 5px;
}

.day {    
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 12px;    
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 3px;
}

/* 육각형 */

.chart-wrapper {
    width: 100%;
    height: 320px;    
    margin-top: 65px;
}

.chart-day {
    margin-left: 15px;
    margin-top: 15px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;    
    margin-top: 40px;    
}

/* 하단부분 */

.footer-wrapper {
    width: 100%;
    height: 300px;
    background-color: #e9e9e9;
    text-align: center;
}

.search-box {
    padding-top: 20px;    
    position: relative;
}

.search-box::after {
    position: absolute;
    content: '';
    top: 110%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: black;        
}

.search-box .box {
    outline: none;
    border: none;
    width: 60%;
    font-size: 16px;
    text-align: center;
    height: 36px;
}

.search-box .sb-icon {
    font-size: 24px;
    vertical-align: middle;
    padding-left: 15px;
    cursor: pointer;
}

.viewDay-wrapper .day, .footer-day .day {    
    z-index: 1;
    height: 16px;
    margin-top: 10px;
}

.footer-view24hour {    
    width: 100%;
}

.footer-view24hour .fv2h-list {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.footer-view24hour .fv2h-name {        
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;        
}

.footer-view24hour .fv2h-name:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 0;
    right: 30%;
    width: 1px;
    height: 150px;
    background-color: #a9a9a9;
}

.morning .morning-list {    
    position: absolute;
    top: 100%;
    left: -25px;
    text-align: center;    
}

.morning .morning-list .morning-state {
    font-size: 24px;
    margin-top: 10px;
    margin-left: -90%;
}

.morning .morning-list .morning-viewColor {
    background-color: red;
    margin-top: 10px;    
    margin-left: -43%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
