.con {
    margin-left:auto;
    margin-right:auto;
}

.mainTemplate {
    width: 360px;
    /* height: 640px; */
    height: 1240px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.topbar-wrapper {

    height: 60px;
    background-color: #A4C3FF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* 복붙한거 */
    background: rgb(255, 255, 255);
    border: 1px solid rgba(70, 77, 82, 0.082);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
    z-index: -1;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 18px;
    /* -- -- */

}

.title {    
    font-size: 28px;
    font-weight: bold;    
    cursor: pointer;
}

.share {
    margin-top: 5px;
    margin-left: 16px;
    font-size: 30px;
    cursor: pointer;
}

.menu {    
    margin-top: 5px;
    font-size: 30px;
    margin-right: 16px;
    cursor: pointer;
}

.viewData-wrapper {
    display:flex;
    justify-content: space-between;
    margin: 0 5px;
    margin-top: 10px;
}


body {
    /* rgba(red, green, blue, a */
    /* rgb에 마지막 값은 투명도 a는 alpha */
    background: rgba(244, 244, 244, 0.5);
}

.vd-border {
    /* 복붙한거 */
    background: rgb(255, 255, 255);
    border: 1px solid rgba(70, 77, 82, 0.082);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
    z-index: -1;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 18px;
    /* -- -- */

    width: 100%;
    /* border: 1px solid gray;
    width: 100px;
    height: 80px; */
}

.vd-border div{
    text-align: center;
}

.vdkind {
    text-align: center;
    width: 100%;
    font-weight: 700;  
    font-size: 14px;  
}

.selectedKindExpreesion-wrapper {
    border: 1px solid red;
    margin: 10px;

    /* 복붙한거 */
    background: rgb(200, 200, 200);
    border: 1px solid rgba(70, 77, 82, 0.082);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
    z-index: -1;
    /* padding: 12px; */
    border-radius: 16px;
    margin-bottom: 18px;
    /* -- -- */

    /* width: 100%; */
    height: 200px;
}

.comment-wrapper {    
    margin: 0 5px;
    margin-top: 5px;
    height: 80px;
    background-color: #c9c9c9;    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;    

    /* 복붙한거 */
    background: rgb(255, 255, 255);
    border: 1px solid rgba(70, 77, 82, 0.082);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
    z-index: -1;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 18px;
    /* -- -- */
}

.comment {
    font-weight: 600;
}

.viewDay-wrapper {
    height: 20px;
    display: flex;
    justify-content: space-between;    
    margin: 0 5px;
    margin-top: 10px;    
}

.day {
    border: 1px solid gray;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 12px;    
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    /* 복붙한거 */
    background: rgb(255, 255, 255);
    border: 1px solid rgba(70, 77, 82, 0.082);
    box-shadow: rgba(0, 0, 0, 0.024) -1px 1px 1px;
    z-index: -1;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 18px;
    /* -- -- */
    
}


/*  */

/* html,
body {
position: relative;
height: 100%;
}

body {
background: #eee;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
margin: 0;
padding: 0;
} */

.swiper-container {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}